PORT=3000
JWT_SECRET=your_jwt_secret_here
ADMIN_EMAIL=admin@starleaks.local
ADMIN_PASSWORD=admin123
MONGODB_URI=mongodb://mongoplus:XAuIWpOOSl6nRYAl%2B@136.243.54.157:25633/mongoplus?authSource=mongoplus
